@charset "utf-8";
/* CSS Document */
/**********************************************
* looklala.com v3.0
* (c)2013 Radical Graphics Studios 
* www.radicalgraphics.com
*
* crafted with ♥ in Amsterdam by @bochelord
************************************************/

body {
        padding-top: 0;
        padding-bottom: 30px;
        font-family: 'sueellen';

      }
.navbar {
        margin-top: 20px;
        font-family: 'terminal-light';
        font-size: 14pt;
      }

.brand {
       font-family: 'sueellen';

}

p{
  font-size: 16pt;
}
/* FontFace definitions
-----------------------------------------------------------*/

@font-face {
    font-family: 'sueellen';
    src: url('../fonts/SueEllenFrancisco.ttf') format('truetype');
    
}

@font-face {
    font-family: 'terminal-light';
    src: url('../fonts/TerminalDosis-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}